body{
    margin: 0 auto;
    background-color: #dfdfdf;
    color: #000000;
}

header{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.navs{
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    margin: 0 auto;
    background-color: #c4c4c4;
}

.nav{
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #c4c4c4;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: rgb(99, 99, 99); 
}

.nav:visited{
    background-color: #c4c4c4;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(99, 99, 99);
}

.nav:hover{
    background-color: #c4c4c4;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(59, 59, 59);
}

.nav:active{
    background-color: #c4c4c4;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.title{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    font-size: 32px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    margin: 0 10% 30px;
    padding: 0 auto;
}

h3{
    font-size: 28px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    margin: 0 10% 10px;
    padding: 0 auto;

}

p{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin: 0 10% 15px;
    padding: 0 auto;
    padding-bottom: 10px;
}

.profiles, .profiles:visited{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin: 0 10%;
    padding-top: 0;
    text-decoration: underline;
    color:rgb(99, 99, 99);
}
.profiles:hover{
    text-decoration: underline;
    color: rgb(59, 59, 59);
}

.profiles:active{
    text-decoration: underline;
    color:white;
}

.reference, .reference:visited{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin: 0 10% 10px;
    padding: 0 auto;
    text-decoration: underline;
    color:rgb(99, 99, 99);
}

.reference:hover{
    text-decoration: underline;
    color: rgb(59, 59, 59);
    margin: 0 10% 10px;
}

.reference:active{
    text-decoration: underline;
    color:white;
    margin: 0 10% 10px;
}


.tests{
    margin: 0 30% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.test{
    margin: 0 auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 0 auto;
}

footer{
    max-width: 100%;
    text-align: center;
    margin: 50px auto auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #c4c4c4;
}

.top, .top:visited{
    font-family: 'Crimson Text', serif;
    text-decoration: none;
    font-size: 30px;
    color: rgb(99, 99, 99);
}

.top:hover{
    text-decoration: underline;
    color: rgb(59, 59, 59);
    margin: 0 10% 10px;
}

.top:active{
    text-decoration: underline;
    color:white;
    margin: 0 10% 10px;
}

hr{
    margin-top: 60px;
    margin-bottom: 30px;
    width: 90%;
    border-top: 2px solid rgba(57, 74, 94, 0.582);
}

.table{
    font-size: 16px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0 10% 10%;
    padding: 0 auto;
}

.table th{
    background-color: #DDD3CF;
}


.table td{
    padding: .5em 1em;
    border-bottom: #DDD3CF 2px solid;
}

.MS{
    font-size: 16px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0 10% 10px;
    padding: 0 auto;
}

.MS th{
    background-color: #DDD3CF;
}


.MS td{
    padding: 1em 3em;
    border-bottom: #DDD3CF 2px solid;
}


.record, record:visited{
    font-family: 'Crimson Text', serif;
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    color:rgb(99, 99, 99);
}
.record:hover{
    text-decoration: none;
    color: rgb(59, 59, 59);
}

.record:active{
    text-decoration: none;
    color:white;
}

.fref{
    display: flex;
    flex-direction: row;
}

.initials::first-letter {
    initial-letter: 2;
    font-size: 30px
  }

.question{
    font-size: 22px;
}

.images{
    width:200px;
    padding: 100px;
    text-align: center;
    margin-bottom: 1px;
  }

  .side{
    float: left;
    margin: 3.5em 3em auto 6em;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 0 auto;
  }

  .jobs{
    font-family: 'Crimson Text', serif;
    margin: 0 10% 10px 30%;
    padding: 0 auto;
    text-align: left;
  }

  .julie{
    float: left;
    margin: .5em 3em auto 6em;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 0 auto;
  }

  .industry{
      text-align: center;
      margin-bottom: 50px;
  }

  .pfp{
    float: left;
    margin: 0.25em 1.5em auto 8em;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0 auto;
  }